<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link rel="stylesheet" href="style.css">
</head>
<style>
    h1{
        text-align: center;

    }

    .container{
        height: 500px;
        width: 1080px;
        display: flex;
        justify-content: space-around;
        margin: auto;
        flex-wrap: wrap;
    }

    .box{
        width: 200px;
        height: 200px;
        background-color: {{colorf}};
        border: 2px solid black;
    } 

</style>




<body>
    <h1>Welcome!</h1>
    <div class= "container">
        {%for x in range(num_from_host)%}
        <div class="box"></div>
{%endfor%}
    </div>
</body>
</html>